.contents {
    @include dashboardFrameWrapper();
    .sidebar {
        background-color: $kibana-content-color;
        display: flex;
        flex-direction: column;
        width: 30px;
        height: 100;
        margin: 0 auto; 
        @include breakpoint("phone") {
            background-color: transparent;
        }
    }
    .editor-box {
        @include dashboardFrame();
    }
}