$bg-color: #222831;
$content-color: #EEEEEE;

$alv3-tab-color: #0064D2;
$fenx-tab-color: #F5AF02;
$feex-tab-color: #86B817;
$dashboard-tab-color: #E53238;

$kibana-bg-color: #ECF0F1;
$kibana-content-color: #FFFFFF;

$dark-blue: #003569;
$light-blue: #3897f0;
$dark-grey: #999;
$border-color: #e6e6e6;
$light-grey: #efefef;