//$bg-color: #f0f5f9;
//$panel-color: #c9d6df;
//$highlight-color : #52616b;
//$content-color: #1e2022;
$bg-color: #222831;
$panel-color: #393E46;
$highlight-color : #00ADB5;
$content-color: #EEEEEE;
$kibana-bg-color: #F5F5F5;
$dark-blue: #003569;
$light-blue: #3897f0;
$dark-grey: #999;
$border-color: #e6e6e6;
$light-grey: #efefef;