$tablet-width: 768px;
$desktop-width: 875px;
$xl-desktop-width: 1351px;
$phone-width: 320px;
$iphone6-width: 375px;
$iphone6plus-width: 550px;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: #{$iphone6plus-width}) and (max-width: #{$desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "tablet-landscape" {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == "table-portrait" {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) and (orientation: portrait) {
      @content;
    }
  } @else if $breakpoint == "phone" {
    @media (min-width: #{$phone-width}) and (max-width: #{$iphone6plus-width}) {
      @content;
    }
  } @else if $breakpoint == "phone-landscape" {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == "desktop-xl" {
    @media (min-width: #{$xl-desktop-width}) {
      @content;
    }
  } @else if $breakpoint == "phone-tablet" {
    @media (max-width: #{$desktop-width}) {
      @content;
    }
  }
}

@mixin kibanaBoxBorder() {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

@mixin boxBorder($radius) {
  border: 1px solid #e6e6e6;
  background-color: white;
  @if $radius == yes {
    border-radius: 3px;
  }
}

@mixin blueButton() {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: $light-blue;
  color: white;
  font-weight: 600;
  border: 0;
  font-size: $normal-font-size;
  line-height: 26px;
  cursor: pointer;
  width: 100%;
  padding: 2px 9px;
  &:focus,
  &:active {
    outline: none;
  }
  &:active {
    opacity: 0.7;
  }
}

@mixin navigationTab() {
  margin-right: 1px;
  height: 40px;
  padding: 0px 15px;
  -webkit-appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: $content-color;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background: $kibana-bg-color;
  }
  &:active {
    background-color: $kibana-bg-color;
    box-shadow: none;
  }
  .menu-tab {
    -webkit-appearance: none;
    display: flex;
    flex-direction: row;
    height: 35px;
    margin-right: 3px;
    align-items: center;
    .name {
      color: $bg-color;
      padding: 3px;
    }
  }
}

@mixin dashboardFrame() {
  background-color: $kibana-content-color;
  display: flex;
  flex-direction: column;
  max-width: $max-page-width;
  width: 100%;
  height: $kibana-visualize-height;
  margin: 0 auto; 
  align-items: center;
  @include breakpoint("phone") {
      ckground-color: transparent;
  }
}

@mixin dashboardFrameWrapper() {
    background-color: $kibana-bg-color;
    display: flex;
    flex-direction: column;
    max-width: $max-page-width;
    width: 100%;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    align-items: center;
    border-radius: 0px 10px 10px 10px;
}