$max-page-width: 1880px;
$max-card-width: 600px;
$small-font-size: 12px;
$normal-font-size: 14px;
$dashboard-value-font-size: 25px;
$dashboard-stat-font-size: 8px;
$big-font-size: 16px;
$kibana-visualize-height: 935px; //mini size dashboard 750px