.contents {
   background-color: $kibana-bg-color;
    display: flex;
    flex-direction: column;
    max-width: $max-page-width + 80px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    align-items: center;
    border-radius: 0px 10px 10px 10px;
    .dashboard {
        background-color: $kibana-content-color;
        display: flex;
        flex-direction: column;
        max-width: $max-page-width + 80px;
        width: 100%;
        height: $kibana-visualize-height;
        margin: 0 auto; 
        align-items: center;
        @include breakpoint("phone") {
            background-color: transparent;
        }
    }
}