.footer {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: $bg-color;
    margin: auto 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    @include breakpoint("phone-tablet") {
      justify-content: center;
      max-width: 350px;
      margin-bottom: 25px;
    }
    .inner {
      display: flex;
      align-items: center;
      font-weight: 600;
      text-transform: uppercase;
      font-size: $small-font-size;
      position: relative;
      .column {
        @include breakpoint("phone-tablet") {
          margin-bottom: 0;
        }
       .copyright{
         .link{
          -webkit-appearance: none;
          text-decoration: none;
          color: $content-color;
         }
       }
      }
    }
  }