.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: $bg-color;
    @include breakpoint("phone") {
      margin-bottom: 0;
    }
    .inner {
      padding-top: 10px;
      max-width: $max-page-width;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 40px;
      .column {
        display: flex;
        width: 33%;
        &:nth-child(2) {
          @include breakpoint("phone") {
            display: none;
          }
        }
        .alv3{
          @include navigationTab();
          background-color: $alv3-tab-color; 
        }

        .fenx{
          @include navigationTab();
          background-color: $fenx-tab-color;
        }
        .feex{
          @include navigationTab();
          background-color: $feex-tab-color;
        }
        .dashboard{
          @include navigationTab();
          background-color: $dashboard-tab-color;
        }
        .nav-active {
        background-color: $kibana-bg-color;
        box-shadow: none;
      }
    }
  }
}